/*LOCA RESIDENT’S AMENITIES*/
#content .amenities{}
#content .amenities .group-amenities{padding-top: 80px;width: 87.5%;}
#content .amenities .group-amenities h2{font-size: 35px;margin: 0;padding: 0 25%;text-align: center;}
#content .amenities .items{padding-top: 50px;text-align: center;}
#content .amenities .items .text p{margin: 0;padding: 0 31%;}
#content .amenities .items .click-slide{padding-top: 50px;}
#content .amenities .items .click-slide .sub-partner{width: 100%;height: 730px;}
#content .amenities .items .slick-slide img{width: 100%;height: 100%;object-fit: cover;}
#content .amenities .items .dots-cus{position: absolute;bottom: 5%;}
#content .amenities .items .click-slide .sub-partner .button{position: absolute;width: 100%;z-index: 10;bottom: 15%;}
#content .amenities .items .click-slide .button button{background-color: rgba(0,0,0,0.3);border: none;width: 350px;}

/*LEVEL 7 RECREATIONAL*/
#content .recreational{}
#content .recreational .group-recreational{padding-top: 80px;width: 87.5%;padding-bottom: 50px;}
#content .recreational .group-recreational h2{font-size: 35px;margin: 0;padding: 0 32%;text-align: center;}
#content .recreational .items{padding-top: 50px;text-align: center;}
#content .recreational .items .text p{margin: 0;padding: 0 33%;}
#content .recreational .items .img{height: 730px;padding-top: 50px;}
#content .recreational .items .img img{width: 100%;height: 100%;/*object-fit: cover;*/}